@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

header {
	background: linear-gradient(to right, #666666, #333333);
	color: #fff;
	padding-top: 20px; /* Increase the padding for smaller screens */
	text-align: center;
	position: sticky;
	top: 0;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
	padding: 30px 20px;
	
}

header h1 {
	padding-inline: 10px;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

nav {
	background-color: #ddd;
	padding: 20px; /* Increase the padding for smaller screens */
	margin-inline: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
}

nav a {
	color: #333;
	text-decoration: none;
	padding: 5px;
	border-radius: 10px;
}

nav a:hover {
	background-color: #333;
	color: #fff;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}

section {
	border-radius: 10px;
	flex-basis: 46%;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	overflow-y: scroll;
	height: max-content;
}

section h2 {
	margin-top: 0;
}

article {
	margin-top: 0.5rem;
	padding: 5px;
	margin-bottom: 10px;
}

article img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 0.5rem;
}

article a {
	text-decoration: none;
}

article p {
	line-height: 25px;
}

h6{
	color: #666666;
}
.date{
	color: #666666;
}

.bounded {
	background-color: #f0f0f0; /* Background color of your choice */
	border-left: 10px solid #000; /* Black border on the left side */
	padding: 10px; /* Optional: Add padding to the content inside the element */
  }
  .button {
	width: 110px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color: #333;
	border-radius: 30px;
	color: rgb(241, 241, 241);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
	transition-duration: .5s;
	margin-inline: auto;
  }
  
  .svgIcon {
	height: 25px;
	transition-duration: 1.5s;
	filter: hue-rotate(180);
  }
  
  .bell path {
	fill: rgb(19, 19, 19);
  }
  
  .button:hover {
	background-color: #666;
	transition-duration: .5s;
  }
  
  .button:active {
	transform: scale(0.97);
	transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
	transform: rotate(250deg);
	transition-duration: 1.5s;
  }
  
.hidden{
	display: none;
}  
.loader {
	position: relative;
	width: 2.5em;
	height: 2.5em;
	transform: rotate(165deg);
   }
   
   .loader:before, .loader:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0.5em;
	height: 0.5em;
	border-radius: 0.25em;
	transform: translate(-50%, -50%);
   }
   
   .loader:before {
	animation: before8 2s infinite;
   }
   
   .loader:after {
	animation: after6 2s infinite;
   }
   
   @keyframes before8 {
	0% {
	 width: 0.5em;
	 box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
	}
   
	35% {
	 width: 2.5em;
	 box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
	}
   
	70% {
	 width: 0.5em;
	 box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
	}
   
	100% {
	 box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
	}
   }
   
   @keyframes after6 {
	0% {
	 height: 0.5em;
	 box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
	}
   
	35% {
	 height: 2.5em;
	 box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
	}
   
	70% {
	 height: 0.5em;
	 box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
	}
   
	100% {
	 box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
	}
   }
   
   .loader {
	position: absolute;
	top: calc(50% - 1.25em);
	left: calc(50% - 1.25em);
   }
@media screen and (min-width: 600px) {
	main {
		flex-direction: column-reverse;
	}
	header h1{
		font-size:2.5rem;
	}
	header nav{
		font-size: 1.6rem;
	}
	section {
		flex-basis: 90%;
	}
	section h2{
		font-size:2rem;
	}
}
.category{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 16px 10px 18px;
	gap: 8px;
	height: 40px;
	width: 128px;
	border: none;
	background: #5b6aeb49;
	border-radius: 20px;
	cursor: pointer;
	margin-top:0.2rem
  }
  
  .lable {
	margin-top: 1px;
	font-size: 19px;
	line-height: 22px;
	color: #4371b3;
	font-family: sans-serif;
	letter-spacing: 1px;
  }
  
  .category:hover {
	background: #056bfa27;
  }
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
  
	25% {
	  transform: rotate(-8deg);
	}
  
	50% {
	  transform: rotate(0deg);
	}
  
	75% {
	  transform: rotate(8deg);
	}
  
	100% {
	  transform: rotate(0deg);
	}
  }
  .category-holder{
	columns: 4;
	column-gap: 0.1rem;
}
@media screen and (min-width: 300px) {
	main {
		flex-direction: column-reverse;
	}
	header h1{
		font-size:2.5rem;
	}
	header nav{
		font-size: 1.6rem;
	}
	section {
		flex-basis: 90%;
	}
	section h2{
		font-size:2rem;
	}
	.category-holder{
		columns: 2;
		column-gap: 0.1rem;
	}
}
@media screen and (min-width: 700px) {
	main {
		flex-direction: column-reverse;
	}
	header h1{
		font-size:2.5rem;
	}
	header nav{
		font-size: 1.6rem;
	}
	section {
		flex-basis: 90%;
	}
	section h2{
		font-size:2rem;
	}
	.category-holder{
		columns: 6;
		column-gap: 0.1rem;
	}
}
@media screen and (min-width: 1200px) {
	main {
		flex-direction: row;
	}
	section {
		flex-basis: 46%;
	}
	.category-holder{
		columns: 4;
		column-gap: 0.1rem;
	}
}
